body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://img.cinemablend.com/filter:scale/quill/7/c/b/f/d/1/7cbfd1349bc18f0f6976d45209d1b4349da74726.jpg?mw=600");
  background-size: cover;
  background-position: center; 
}
